/* ====================== */
/* = Fonts */
/* ====================== */
@font-face {
  font-family: "Mercury Text G1";
  src: url("../fonts/MercuryTextG1-Roman.eot");
  src: url("../fonts/MercuryTextG1-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/MercuryTextG1-Roman.woff2") format("woff2"), url("../fonts/MercuryTextG1-Roman.woff") format("woff"), url("../fonts/MercuryTextG1-Roman.ttf") format("truetype"), url("../fonts/MercuryTextG1-Roman.svg#MercuryTextG1-Roman") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Decimal";
  src: url("../fonts/Decimal-Bold.eot");
  src: url("../fonts/Decimal-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Decimal-Bold.woff2") format("woff2"), url("../fonts/Decimal-Bold.woff") format("woff"), url("../fonts/Decimal-Bold.ttf") format("truetype"), url("../fonts/Decimal-Bold.svg#Decimal-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Decimal";
  src: url("../fonts/Decimal-Black.eot");
  src: url("../fonts/Decimal-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Decimal-Black.woff2") format("woff2"), url("../fonts/Decimal-Black.woff") format("woff"), url("../fonts/Decimal-Black.ttf") format("truetype"), url("../fonts/Decimal-Black.svg#Decimal-Black") format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Decimal";
  src: url("../fonts/Decimal-Book.eot");
  src: url("../fonts/Decimal-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Decimal-Book.woff2") format("woff2"), url("../fonts/Decimal-Book.woff") format("woff"), url("../fonts/Decimal-Book.ttf") format("truetype"), url("../fonts/Decimal-Book.svg#Decimal-Book") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Decimal";
  src: url("../fonts/Decimal-Semibold.eot");
  src: url("../fonts/Decimal-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Decimal-Semibold.woff2") format("woff2"), url("../fonts/Decimal-Semibold.woff") format("woff"), url("../fonts/Decimal-Semibold.ttf") format("truetype"), url("../fonts/Decimal-Semibold.svg#Decimal-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Decimal";
  src: url("../fonts/Decimal-Medium.eot");
  src: url("../fonts/Decimal-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Decimal-Medium.woff2") format("woff2"), url("../fonts/Decimal-Medium.woff") format("woff"), url("../fonts/Decimal-Medium.ttf") format("truetype"), url("../fonts/Decimal-Medium.svg#Decimal-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?7ych40");
  src: url("../fonts/icomoon.eot?7ych40#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?7ych40") format("truetype"), url("../fonts/icomoon.woff?7ych40") format("woff"), url("../fonts/icomoon.svg?7ych40#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-1:before {
  content: "\e900";
  color: #fff;
}

.icon-instagram-1:before {
  content: "\e901";
  color: #fff;
}

.icon-menu:before {
  content: "\e9bd";
}

.icon-plus:before {
  content: "\ea0a";
}

.icon-minus:before {
  content: "\ea0b";
}

.icon-cross:before {
  content: "\ea0f";
}

.icon-paragraph-justify:before {
  content: "\ea7a";
}

/* ====================== */
/* Reset */
/* ===================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* ====================== */
/* Defaults */
/* ====================== */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  color: #000000;
  line-height: normal;
  font-family: "Decimal", sans-serif;
}

p {
  font-family: "Mercury Text G1", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.833;
  margin-bottom: 30px;
}

@media screen and (min-width: 1401px) {
  p {
    font-size: 24px;
  }
}

a {
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

img.img-fluid {
  width: 100%;
}

strong {
  font-weight: 700;
}

/* ====================== */
/* = LAYOUT */
/* ====================== */
/* Containers */
.l-container {
  width: 100%;
  max-width: 1760px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
}

.l-container--fluid {
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.l-container--limit {
  max-width: 1920px;
}

.l-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.l-row .l-row {
  height: auto;
}

@media screen and (max-width: 767px) {
  .l-row-md-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.l-row.gap-80 {
  margin-left: -20px;
  margin-right: -20px;
}

@media screen and (max-width: 1024px) {
  .l-row.gap-80 {
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media screen and (max-width: 480px) {
  .l-row.gap-80 {
    margin-left: -10px;
    margin-right: -10px;
  }
}

.l-row.gap-80 > div {
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (max-width: 1024px) {
  .l-row.gap-80 > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 480px) {
  .l-row.gap-80 > div {
    padding-left: 10px;
    padding-right: 10px;
  }
}

[class^="l-column"],
[class*=" l-column"] {
  padding: 10px;
}

.l-column-1 {
  width: 8.33%;
}

.l-column-2 {
  width: 16.66%;
}

.l-column-3 {
  width: 25%;
}

.l-column-4 {
  width: 33.33%;
}

.l-column-5 {
  width: 41.66%;
}

.l-column-6 {
  width: 50%;
}

.l-column-7 {
  width: 58.33%;
}

.l-column-8 {
  width: 66.66%;
}

.l-column-9 {
  width: 75%;
}

.l-column-10 {
  width: 75%;
}

.l-column-11 {
  width: 91.66%;
}

.l-column-12 {
  width: 100%;
}

@media only screen and (min-width: 481px) {
  .l-column-sm-1 {
    width: 8.33%;
  }
  .l-column-sm-2 {
    width: 16.66%;
  }
  .l-column-sm-3 {
    width: 25%;
  }
  .l-column-sm-4 {
    width: 33.33%;
  }
  .l-column-sm-5 {
    width: 41.66%;
  }
  .l-column-sm-6 {
    width: 50%;
  }
  .l-column-sm-7 {
    width: 58.33%;
  }
  .l-column-sm-8 {
    width: 66.66%;
  }
  .l-column-sm-9 {
    width: 75%;
  }
  .l-column-sm-10 {
    width: 75%;
  }
  .l-column-sm-11 {
    width: 91.66%;
  }
  .l-column-sm-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .l-column-md-1 {
    width: 8.33%;
  }
  .l-column-md-2 {
    width: 16.66%;
  }
  .l-column-md-3 {
    width: 25%;
  }
  .l-column-md-4 {
    width: 33.33%;
  }
  .l-column-md-5 {
    width: 41.66%;
  }
  .l-column-md-6 {
    width: 50%;
  }
  .l-column-md-7 {
    width: 58.33%;
  }
  .l-column-md-8 {
    width: 66.66%;
  }
  .l-column-md-9 {
    width: 75%;
  }
  .l-column-md-10 {
    width: 75%;
  }
  .l-column-md-11 {
    width: 91.66%;
  }
  .l-column-md-12 {
    width: 100%;
  }
}

/* ====================== */
/* = SECTION */
/* ====================== */
.section {
  padding-top: 75px;
  padding-bottom: 75px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.section__inner {
  position: relative;
}

.section__inner.last {
  margin-top: 40px;
  margin-bottom: 40px;
}

.section__title {
  font-family: "Decimal", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 1.094;
  color: transparent;
  -webkit-text-stroke: 1px #58585a;
  margin-bottom: 0.529em;
}

@media screen and (min-width: 1025px) {
  .section__title {
    font-size: 56px;
    -webkit-text-stroke: 2px #58585a;
  }
}

@media screen and (min-width: 1401px) {
  .section__title {
    font-size: 96px;
  }
}

.section__subtitle {
  font-family: "Decimal", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.722;
  color: #746c68;
}

@media screen and (min-width: 1025px) {
  .section__subtitle {
    font-size: 26px;
  }
}

@media screen and (min-width: 1401px) {
  .section__subtitle {
    font-size: 36px;
  }
}

.section-hero {
  position: relative;
  height: 631px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 85px;
}

.section-hero.services {
  background-image: url("../images/services-hero-bg.jpg");
}
.section-hero.market {
  background-image: url("../images/marketBackground.png");
}
.section-hero.home {
  height: 100vh;
  background-image: url("../images/home-hero.jpg");
}
.section-hero.company {
  height: 100vh;
  background-image: url("../images/companyBackground.png");
}

.section-hero:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #746c68;
  opacity: 0.5;
  z-index: 1;
}

.section-hero .l-container {
  position: relative;
  z-index: 10;
}

.section-company {
  padding-top: 150px;
  padding-bottom: 75px;
}

@media screen and (max-width: 767px) {
  .section-company {
    padding-top: 100px;
    padding-bottom: 50px;
  }
}

.section-company .l-container--fluid {
  padding-left: 4.6%;
}

@media screen and (min-width: 1401px) {
  .section-leadership .section__title {
    font-size: 76px;
  }
}

@media (min-width: 1686px) {
  .section-leadership .section__title {
    font-size: 96px;
  }
}

.section .bg-part {
  background-color: #ede7dd;
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  top: 60px;
}

@media screen and (max-width: 767px) {
  .section .bg-part {
    top: 0;
  }
}

.section-services {
  position: relative;
}

.section-services .bg-part {
  width: 80%;
  height: 90%;
  right: 0;
  left: initial;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
  .section-services .bg-part {
    width: 100%;
    height: 100%;
  }
}

.section-services img {
  width: 100%;
}

.section-contact {
  overflow: hidden;
  position: relative;
  margin-bottom: 150px;
}

@media screen and (max-width: 767px) {
  .section-contact {
    margin-bottom: 50px;
  }
}

.section-contact .bg-part {
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  top: 60px;
}

@media screen and (max-width: 767px) {
  .section-contact .bg-part {
    top: 0;
  }
}

.section-contact p {
  font-family: "Decimal", sans-serif;
}

.section-contact img {
  margin-top: -50px;
}

@media screen and (max-width: 767px) {
  .section-contact img {
    margin-top: 0;
  }
}

.section-cm {
  position: relative;
}

@media screen and (max-width: 480px) {
  .section-cm .section__title {
    font-size: 25px;
  }
}

.section-cm .bg-part {
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  top: 0;
}

@media screen and (max-width: 767px) {
  .section-cm .bg-part {
    top: 0;
  }
}

.section-cm img {
  margin-top: -100px;
}

@media screen and (max-width: 767px) {
  .section-cm img {
    margin-top: 0;
  }
}

.section-cce {
  position: relative;
}

.section-our-story img {
  width: 100%;
  max-width: 870px;
}

.section-owners {
  overflow-x: hidden;
}

.section-luc {
  background-color: #ede7dd;
}

.section-luc .section__title {
  margin-bottom: 0;
  font-size: 25px;
}

@media screen and (min-width: 1025px) {
  .section-luc .section__title {
    font-size: 56px;
  }
}

@media screen and (min-width: 1401px) {
  .section-luc .section__title {
    font-size: 82px;
  }
}

.section-ccd .section__title {
  margin-bottom: 0;
  font-size: 25px;
}

@media screen and (min-width: 1025px) {
  .section-ccd .section__title {
    font-size: 56px;
  }
}

@media screen and (min-width: 1401px) {
  .section-ccd .section__title {
    font-size: 82px;
  }
}

.section-ccd img {
  margin-top: -130px;
}

@media screen and (max-width: 1024px) {
  .section-ccd img {
    margin-top: -80px;
  }
}

@media screen and (max-width: 767px) {
  .section-ccd img {
    margin-top: 0;
  }
}

.section-enc .section__title {
  margin-bottom: 0;
  font-size: 25px;
}

@media screen and (min-width: 1025px) {
  .section-enc .section__title {
    font-size: 56px;
  }
}

@media screen and (min-width: 1401px) {
  .section-enc .section__title {
    font-size: 72px;
  }
}

.section-enc .column-first img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-enc .column-last {
  padding: 5% 10% 5% 5%;
  background-color: #ede7dd;
}

/* ====================== */
/* = BUTTONS */
/* ====================== */
.button-container {
  margin-top: 75px;
}

.button {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 350;
  font-weight: 400;
  color: #000000;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
}

@media screen and (max-width: 1400px) {
  .button {
    font-size: 13px;
  }
}

.button--primary {
  padding: 1.125em 2.5em;
  text-transform: uppercase;
}

.button--filled {
  background-color: #d3c3a7;
  color: #ffffff;
}

.button--filled:hover {
  background-color: #ad9976;
}

.button--border {
  background-color: #ffffff;
  color: #a29885;
  border: 1px solid #746c68;
}

.button--border:hover {
  background-color: #746c68;
  color: #ffffff;
}

/* ====================== */
/* = HEADER */
/* ====================== */
#header {
  padding-top: 30px;
  padding-bottom: 30px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  -webkit-transition: padding 0.3s ease-in-out, position 0.5s ease-in-out;
  -o-transition: padding 0.3s ease-in-out, position 0.5s ease-in-out;
  transition: padding 0.3s ease-in-out, position 0.5s ease-in-out;
}

#header.sticky {
  -webkit-box-shadow: 0 0 12px 0 #00000085;
          box-shadow: 0 0 12px 0 #00000085;
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #746c68;
}

/* ====================== */
/* = NAVIGATION */
/* ====================== */
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.navigation__button {
  display: inline-block;
  color: #ffffff;
  font-size: 30px;
  cursor: pointer;
}

@media screen and (min-width: 1025px) {
  .navigation__button {
    display: none;
  }
}

.navigation__nav {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .navigation__nav {
    display: none;
  }
}

.navigation__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1118px;
  width: 100%;
}

.navigation__nav li {
  list-style: none;
}

.navigation__nav li.active a {
  color: #d3c3a7;
}

.navigation__nav a:not(.button) {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 350;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap;
}

.navigation__nav a:not(.button):hover {
  color: #d3c3a7;
}

@media screen and (max-width: 1400px) {
  .navigation__nav a:not(.button) {
    font-size: 13px;
  }
}

.navigation__close {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 20px;
  top: 40px;
  cursor: pointer;
}

@media screen and (min-width: 1025px) {
  .navigation__close {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  nav.navigation__nav.open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #746c68;
    padding: 30px 20px 50px;
  }
  nav.navigation__nav.open ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav.navigation__nav.open li {
    width: 100%;
    text-align: left;
  }
  nav.navigation__nav.open li a:not(.button) {
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
  }
}

/* ====================== */
/* = HERO */
/* ====================== */
.hero__content {
  max-width: 905px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (max-width: 767px) {
  .hero__content {
    padding-bottom: 100px;
  }
}
.middle-section {
  background-color: #EDE7DD;
}
.section__tilte2 {
  width: 723px;
margin-bottom: 50px;
  font-family: Decimal;
font-style: normal;
font-weight: 350;
font-size: 36px;
line-height: 62px;

text-transform: uppercase;

color: #746C68;
}
.noMargin {
  margin: 0;
}
.hero__subtitle {
  font-family: "Mercury Text G1", sans-serif;
  font-size: 16px;
  line-height: 1.417;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .hero__subtitle {
    font-size: 20px;
  }
}

@media screen and (min-width: 1401px) {
  .hero__subtitle {
    font-size: 24px;
  }
}

.hero__title {
  font-family: "Decimal", sans-serif;
  font-size: 24px;
  line-height: 1.094;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  max-width: 12.929em;

}

@media screen and (min-width: 481px) {
  .hero__title {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 50px;
  }
}

@media screen and (min-width: 1401px) {
  .hero__title {
    font-size: 96px;
  }
}

.hero__seperator {
  width: 100%;
  max-width: 773px;
  display: inline-block;
  height: 2px;
  background: #fff;
  vertical-align: middle;
  margin-bottom: 20px;
}

.hero__social {
  vertical-align: middle;
}

.hero__social a {
  display: inline-block;
  padding: 0 20px;
  font-size: 30px;
  text-decoration: none;
  color: #ffffff;
}

.hero__social a:hover {
  color: #d3c3a7;
}
.marginZero {
  margin: 0 auto;
}
.hero__logo-box {
  position: absolute;
  right: 0;
  bottom: 0;
}
.container-sm {
  max-width: 1480px;
}

@media screen and (max-width: 1024px) {
  .hero__logo-box {
    max-width: 100px;
  }
}
.imageDivPadding {
  padding-top: 35px;
}
.home .hero__content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.home .hero__subtitle {
  font-weight: 600;
}

.home .hero__title {
  font-size: 24px;
  line-height: 1.357;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  max-width: 12.929em;
}

@media screen and (min-width: 481px) {
  .home .hero__title {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  .home .hero__title {
    font-size: 50px;
  }
}

@media screen and (min-width: 1401px) {
  .home .hero__title {
    font-size: 70px;
  }
}

.home .hero__seperator {
  width: 100%;
  max-width: 264px;
  margin-bottom: 0;
}

.counter {
  margin-top: 35px;
}

@media screen and (max-width: 480px) {
  .counter {
    text-align: center;
  }
}

.counter__number {
  font-family: "Mercury Text G1", sans-serif;
  font-size: 80px;
  line-height: 1;
  color: #756d69;
  font-weight: 500;
}

@media screen and (min-width: 1401px) {
  .counter__number {
    font-size: 144px;
  }
}

.counter__title {
  font-family: "Mercury Text G1", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  color: #756d69;
  font-weight: 500;
  color: #000000;
}

@media screen and (min-width: 1401px) {
  .counter__title {
    font-size: 28px;
  }
}

/* ====================== */
/* SUSBCRIPTION FORM */
/* ====================== */
.subscription-form {
  width: 100%;
}

.subscription-form label {
  font-family: "Decimal", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.227;
  color: #ffffff;
  margin-bottom: 20px;
  display: inline-block;
}

.subscription-form input[type="email"] {
  height: 100%;
  width: 100%;
  padding: 20px;
  font-size: 18px;
  font-family: "Decimal", sans-serif;
  color: #ede7dc;
  border: 1px solid #ffffff;
  background: transparent;
}

.subscription-form input[type="email"]::-webkit-input-placeholder {
  color: #ede7dc;
}

.subscription-form input[type="email"]:-ms-input-placeholder {
  color: #ede7dc;
}

.subscription-form input[type="email"]::-ms-input-placeholder {
  color: #ede7dc;
}

.subscription-form input[type="email"]::placeholder {
  color: #ede7dc;
}

.subscription-form .l-input-group {
  position: relative;
  height: 70px;
}

.subscription-form .input-group-btn {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
}

.subscription-form button {
  height: 100%;
  width: 100%;
  background: #ffffff;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  color: #58585a;
}

/* ====================== */
/* = IMAGE BOX */
/* ====================== */
.image-box__img {
  margin-bottom: 20px;
}

.image-box__title {
  font-size: 16px;
  font-family: "Decimal", sans-serif;
  font-weight: 400;
  color: #746c68;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.722;
}

@media screen and (min-width: 1025px) {
  .image-box__title {
    font-size: 25px;
  }
}

@media screen and (min-width: 1401px) {
  .image-box__title {
    font-size: 36px;
  }
}

/* ====================== */
/* = TIMELINE */
/* ====================== */
.timeline {
  position: relative;
  padding-left: 50px;
  padding-right: 40px;
}

@media screen and (min-width: 1401px) {
  .timeline {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.timeline__step-title {
  font-family: "Decimal", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.722;
  text-transform: uppercase;
  color: #746c68;
  white-space: nowrap;
}

@media screen and (min-width: 1401px) {
  .timeline__step-title {
    font-size: 36px;
  }
}

.timeline__step-title.last {
  -webkit-transform: translateY(35px);
      -ms-transform: translateY(35px);
          transform: translateY(35px);
}

@media screen and (min-width: 1401px) {
  .timeline__step-title.last {
    -webkit-transform: translateY(60px);
        -ms-transform: translateY(60px);
            transform: translateY(60px);
  }
}

.timeline__step {
  position: absolute;
  left: 0;
  right: 0;
}

.timeline__step-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timeline__step-inner.last {
  padding: 12px;
  padding-left: 0;
}

@media screen and (min-width: 1401px) {
  .timeline__step-inner.last {
    padding: 12px;
    padding-left: 0;
  }
}

.timeline__step-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 10px;
  border-radius: 100px;
  background: #a29885;
  color: #ffffff;
  width: 1.964em;
  height: 1.964em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Decimal", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1;
}

@media screen and (min-width: 1401px) {
  .timeline__step-num {
    font-size: 28px;
  }
}

.timeline__step-last {
  width: 0;
  border-top: 15px solid transparent;
  border-left: 30px solid #dbd7cf;
  border-bottom: 15px solid transparent;
  border-top: 10px solid transparent;
  border-left: 20px solid #dbd7cf;
  border-bottom: 10px solid transparent;
}

@media screen and (min-width: 1401px) {
  .timeline__step-last {
    border-top: 15px solid transparent;
    border-left: 30px solid #dbd7cf;
    border-bottom: 15px solid transparent;
  }
}

.timeline__step-line {
  display: inline-block;
  width: 100%;
  height: 3px;
  background: #dbd7cf;
  vertical-align: middle;
}

@media screen and (min-width: 1401px) {
  .timeline__step-line {
    height: 5px;
  }
}

.timeline__step-desc {
  margin-top: 50px;
}

/* ====================== */
/* = FOOTER */
/* ====================== */
#footer {
  background-color: #746c68;
  padding: 40px 0;
}

#footer .site-logo {
  margin-bottom: 40px;
  display: inline-block;
}

#footer p {
  color: #ffffff;
  font-family: "Decimal", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.222;
}

/* ====================== */
/* = COMPONENTS */
/* ====================== */
/* Reusable elements will go here. e.g., ".social", ".clearfix" */
.clear {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.clearfix:before, .clearfix:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/* text */
.text-center {
  text-align: center;
}

.right {
  float: right;
}

.left {
  float: left;
}

.l-d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-flex-v-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-flex-v-align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.l-flex-h-align-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* padding helper classes */
.l-pr-0 {
  padding-right: 0;
}

.l-p-0 {
  padding: 0;
}

.l-pr-50 {
  padding-right: 50px;
}

@media screen and (min-width: 768px) {
  .l-pr-md-50 {
    padding-right: 50px;
  }
}

.l-pb-50 {
  padding-bottom: 50px;
}

.l-pb-30 {
  padding-bottom: 30px;
}

.l-pt-50 {
  padding-top: 50px;
}

.l-px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.l-overflow-x-hidden {
  overflow-x: hidden;
}

.dashed-border {
  border: 2px dashed #a29885;
  border-radius: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
}
/*# sourceMappingURL=style.css.map */